// Color palette
$dc-primary-color: #0282f9;
$dc-darker-color: #000000;
$dc-dark-color: #1c1c1c;
$dc-footer-bottom-bg-bolor: #303030;
$dc-font-dark-color: #3b3a39;
$dc-light-color: #939393;
$dc-lighter-color: #ffffff;